/* Styling for Weather Dashboard */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
}

#header-container{
    padding-right: 30px;
}

#search-container {
    margin-bottom: 0px;  
}

#search-input {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgb(217, 237, 250);
}

#search-button, #clear-button{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #7b9696;
    color: white;
    cursor: pointer;
}

#search-button:hover, #clear-button:hover {
    background-color: #000000;
}

#weather-container {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#forecast-container {
    text-align: center;
}